.list {
  padding: 0;
  list-style: none;
}

.row {
  display: flex;
  align-items: center;
  position: relative;
  padding: 16px;
  background-color: rgba(0, 100, 150, 0.4);
  gap: 4px;
}
.row.dragging {
  z-index: 1;
  background-color: rgba(0, 100, 150, 1);
}
